fastapi
uvicorn
gunicorn
pydantic
pydantic-settings
langchain
langchain-community
langchain-google-genai
chromadb
flashrank
python-multipart
python-dotenv
aiofiles
pypdf
docx2txt
unstructured
langchain-experimental
langchain-chroma
markdown
langchain-huggingface
sentence-transformers
rank_bm25
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt
langsmith
langchain-nvidia-ai-endpoints>=1.2.0
